@import views.html.helper.form
@import play.filters.csrf.CSRF.Token
@(userEmail: String, csrfToken: Token)

@views.html.ssr.main("E-business") {
    <div class="content">
        <h1>E-business</h1>
        <p>Welcome, @userEmail</p>

        <ul>
            <li><a href="@routes.SocialAuthController.authenticate("google")">sign in using Google</a></li>
            <li><a href="@controllers.ssr.routes.HomeController.topSecret">a page only for authenticated users</a></li>
            <li>
                @form(controllers.ssr.routes.SessionController.signOut) {
                    <input type="hidden" name="@csrfToken.name" value="@csrfToken.value" />
                    <input type="submit" value="sign out" />
                }
            </li>
        </ul>
    </div>
}
