@import views.html.helper.form
@import play.filters.csrf.CSRF.Token
@(userEmail: String, csrfToken: Token)

@views.html.ssr.main("E-business") {
    <section class="section">
        <h1>E-business</h1>
        <p>Signed in as @userEmail</p>
        @form(controllers.routes.SocialAuthController.signOut) {
            <input type="hidden" name="@csrfToken.name" value="@csrfToken.value" />
            <input type="submit" value="sign out" />
        }
        <a href="@controllers.ssr.routes.HomeController.topSecret">Sample page only for authenticated users</a>
    </section>
    <section class="section">
        <h2>Secured resources</h2>
        <ul class="collection">
            <li class="collection-item"><a href="@controllers.ssr.routes.CategoryController.all">Categories</a></li>
            <li class="collection-item"><a href="@controllers.ssr.routes.ProductController.all">Products</a></li>
            <li class="collection-item"><a href="@controllers.ssr.routes.CurrencyController.all">Currencies</a></li>
            <li class="collection-item"><a href="@controllers.ssr.routes.PromotionController.all">Promotions</a></li>
            <li class="collection-item"><a href="@controllers.ssr.routes.ProductPromotionController.all">Product Promotions</a></li>
            <li class="collection-item"><a href="@controllers.ssr.routes.CartItemController.all">Cart Items</a></li>
            <li class="collection-item"><a href="@controllers.ssr.routes.ReviewController.all">Reviews</a></li>
            <li class="collection-item"><a href="@controllers.ssr.routes.WishListController.all">Wish Lists</a></li>
            <li class="collection-item"><a href="@controllers.ssr.routes.WishListItemController.all">Wish List Items</a></li>
        </ul>
    </section>
}
