@import views.html.ssr.main
@import views.html.helper.form
@import play.filters.csrf.CSRF.Token
@(productPromotions: Seq[ProductPromotion], csrfToken: Token)

@main("ProductPromotions") {

    <h1>ProductPromotions</h1>

    <a href="@controllers.ssr.routes.ProductPromotionController._new">new</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Promotion</th>
            </tr>
        </thead>
        <tbody>
        @for(productPromotion <- productPromotions) {
            <tr>
                <td>@productPromotion.id</td>
                <td>@productPromotion.product</td>
                <td>@productPromotion.promotion</td>
                <td><a href="@controllers.ssr.routes.ProductPromotionController.edit(productPromotion.id)">edit</a></td>
                <td>
                    @form(controllers.ssr.routes.ProductPromotionController.delete(productPromotion.id)) {
                        <input type="hidden" name="@csrfToken.name" value="@csrfToken.value" />
                        <input type="submit" value="delete" />
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}