@import views.html.helper.form
@import controllers.ssr.CreateCategoryForm
@import views.html.helper.inputText
@(category: Form[CreateCategoryForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

<h1>Category</h1>

@form(controllers.ssr.routes.CategoryController.create) {
    <div class="row">
        @inputText(category("name"))
        @helper.CSRF.formField
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
}