@import views.html.helper.form
@import play.filters.csrf.CSRF.Token
@(csrfToken: Token)

<h1>Categoryww</h1>

@form(controllers.ssr.routes.CategoryController.create) {
    <div class="row">
        <div class="input-field col s12">
            <input name="name" type="text" placeholder="name">
            <label for="name">Name</label>
        </div>
    </div>

    <input type="hidden" name="@csrfToken.name" value="@csrfToken.value" />

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
}