@import views.html.ssr.main
@import views.html.helper.form
@import play.filters.csrf.CSRF.Token
@(wishListItems: Seq[WishListItem], csrfToken: Token)

@main("WishListItems") {

    <h1>WishListItems</h1>

    <a href="@controllers.ssr.routes.WishListItemController.getNew">new</a>

    <table aria-label="wish-list-items">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Product</th>
                <th scope="col">Wish List</th>
            </tr>
        </thead>
        <tbody>
        @for(wishListItem <- wishListItems) {
            <tr>
                <td>@wishListItem.id</td>
                <td>@wishListItem.product</td>
                <td>@wishListItem.wishList</td>
                <td><a href="@controllers.ssr.routes.WishListItemController.edit(wishListItem.id)">edit</a></td>
                <td>
                    @form(controllers.ssr.routes.WishListItemController.delete(wishListItem.id)) {
                        <input type="hidden" name="@csrfToken.name" value="@csrfToken.value" />
                        <input type="submit" value="delete" />
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}