@import views.html.helper.form
@import views.html.helper.inputText
@import views.html.ssr.main
@import controllers.ssr.CreateCurrencyForm
@(currencyForm: Form[CreateCurrencyForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("New currency") {
    <h1>Currency</h1>

    @form(controllers.ssr.routes.CurrencyController.create) {
        @inputText(currencyForm("code"))
        @inputText(currencyForm("symbol"))
        @helper.CSRF.formField

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    }
}