@import views.html.ssr.main
@import views.html.helper.form
@import play.filters.csrf.CSRF.Token
@(wishLists: Seq[WishList], csrfToken: Token)

@main("WishLists") {

    <h1>WishLists</h1>

    <a href="@controllers.ssr.routes.WishListController._new">new</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
        @for(wishList <- wishLists) {
            <tr>
                <td>@wishList.id</td>
                <td>@wishList.name</td>
                <td>@wishList.user</td>
                <td><a href="@controllers.ssr.routes.WishListController.edit(wishList.id)">edit</a></td>
                <td>
                    @form(controllers.ssr.routes.WishListController.delete(wishList.id)) {
                        <input type="hidden" name="@csrfToken.name" value="@csrfToken.value" />
                        <input type="submit" value="delete" />
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}