@import views.html.helper.form
@import controllers.ssr.CreateProductForm
@import views.html.helper.inputText
@import views.html.ssr.main
@(productForm: Form[CreateProductForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("New product") {
    <h1>Product</h1>

    @form(controllers.ssr.routes.ProductController.create) {
        @inputText(productForm("name"))
        @inputText(productForm("description"))
        @inputText(productForm("category"))
        @helper.CSRF.formField

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    }
}