@import views.html.ssr.main
@import views.html.helper.form
@import play.filters.csrf.CSRF.Token
@(products: Seq[Product], csrfToken: Token)

@main("Products") {

    <h1>Products</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
        @for(product <- products) {
            <tr>
                <td>@product.id</td>
                <td>@product.name</td>
                <td>@product.description</td>
                <td>@product.category</td>
                <td><a href="@controllers.ssr.routes.ProductController.edit(product.id)">edit</a></td>
                <td>
                    @form(controllers.ssr.routes.ProductController.delete(product.id)) {
                        <input type="hidden" name="@csrfToken.name" value="@csrfToken.value" />
                        <input type="submit" value="delete" />
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}